{
    "printWidth": 118,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "semi": true,
    "overrides": [
        {
            "files": ["scripts/semi/menus.js", ".gitlab-ci.yml", "deploy.js"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
